.event {
  position: relative;
  flex-grow: 2;
  display: flex;

  &::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #444;
    position: absolute;
    left: 0;
    top: 0;
  }

  &Inner {
    width: 100%;
  }

  &Top {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    &Day {
      color: #fff;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &AddTask {
    margin-top: 35px;
    position: relative;
    border-bottom: 1px solid #444;

    input {
      width: 100%;
      padding: 0 0 5px 5px;

      border: none;
      background: none;

      font-style: italic;
      font-family: "Montserrat";
      font-weight: 500;

      color: #fff;

      &:focus {
        outline: none;
      }

      &:focus ~ .bar {
        width: 100%;
      }
    }
  }

  &ListTask {
    margin-top: 15px;
  }
}

.bar {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  transition: 0.4s;
}
