.event {
  position: relative;
  min-width: 300px;

  &::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #444;
    position: absolute;
    left: 0;
    top: 0;
  }

  &Inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &Top {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;

    &Day {
      color: #fff;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &AddTask {
    margin-top: 35px;

    input {
      width: 100%;
      background-color: #1e1e1e;
      border-radius: 10px;
      border: none;
      padding: 12px 15px;

      font-style: italic;
      font-family: "Montserrat";
      font-weight: 500;

      color: #fff;

      &:focus {
        outline: none;
      }
    }
  }

  &Block {
    position: relative;
  }

  &SetTime {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  &ListTask {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    ul {
      height: 100%;
      margin-top: 15px;
    }
  }

  &SubTitle {
    color: #656767;
    font-size: 13px;
    font-weight: bold;
    padding: 0 15px;
  }
}

.warning {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.btnPopUp {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}
